/* cards1 style */

body {
    display: flex;
    justify-content: center;
}
.wrap {
    width: 900px;
    background: powderblue;
}
.card {
    width: 300px;
    height: 400px;
    border: 2px solid silver;
}

/* commit */ /* commit test 02 */